body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul {
    list-style: none;

    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50vw; */
    max-width: 600px;
    margin: 3rem auto;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
    gap: .3rem;
}

header .logo img {
    width: 25px;
}

header .logo .app-name {
    font-weight: 500;
}

header .logo .slogan {
    font-size: 0.8rem;
    color: #888888;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
  
    border-top: 1px solid #f1f1f1;
    font-size: 0.8rem;
    color: #888888;
}

footer span {
    font-weight: 700;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer a:hover {
    color: #000;
}

@media (max-width: 620px) {
    .app {
        align-items: initial;
        padding: 0;
    }
  
    header {
        flex-direction: column;
        align-items: center;
    }
  
    .todo-list {
        min-width: 90%;
        margin: 0 1rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
} 