body {
  font-family: "Roboto", sans-serif;

  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

header .logo {
  display: flex;
  align-items: center;
  gap: .3rem;
}

header .logo img {
  width: 25px;
}

header .logo .app-name {
  font-weight: 500;
}

header .logo .slogan {
  font-size: 0.8rem;
  color: #888888;
}

.todo-list {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

  padding: 3rem;
  min-width: 400px;
  min-height: 300px;
}

.form {
  display: flex;
  justify-content: center;
}

.form-input {
  border: 1px solid #dfdfdf;
  font-size: 0.85rem;
  font-family: "Roboto", sans-serif;
  outline: none;

  padding: 0.75rem;
  width: 100%;
}

.form-button {
  border: 1px solid #dfdfdf;
  cursor: pointer;
  font-size: 1.5rem;

  margin-left: 0.55rem;
}

.form-button:hover {
  background: rgba(170, 163, 156, 0.1);
}

.list {
  padding: 0;
  list-style: none;
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  padding: 1rem;

  border-bottom: 1px solid #f1f1f1;
}

.check-button,
.delete-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 100ms;
}

.check-button {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.delete-button {
  font-size: 1rem;
}

.delete-button:hover {
  background-color: #c08779;
}

.content {
  margin: 0;
}

.task.done .content {
  text-decoration: line-through;
}

@media (max-width: 620px) {
  .app {
    width: 80vw;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  .todo-list {
    min-width: 90%;
  }

  /* .todo-list {
    min-width: 50px;
  } */

  /* .task {
    flex-direction: column;
    align-items: center;
  } */

  /* .check-button {
    margin: 10px 0;
  }

  .content {
    text-align: center;
  } */
}