body {
  background: rgba(170, 163, 156, 0.1);
  font-family: 'Victor Mono', monospace;

  margin: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.todo-list {
  background: #fdfdfd;

  border: 1px solid #161616;
  border-radius: 5px;
  padding: 3rem;
  margin: 10px;
  min-width: 400px;
  min-height: 300px;
}

.title {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  color: #9722bb;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 0.755rem;
}

.form {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.form-input {
  background-color: #f1f1f1;
  border: 1px solid #161616;

  border-radius: 5px;

  height: 10px;
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: 'Victor Mono', monospace;
  outline: none;
}

.form-button {
  border: 1px solid #9722bb;
  border-radius: 5px;
  color: #F6F1D1;
  cursor: pointer;
  font-family: 'Victor Mono', monospace;
  font-size: 1.5rem;

  margin-left: 0.55rem;
  width: 38px;
}

.form-button:hover {
  background: rgba(170, 163, 156, 0.1);
}

.list {
  padding: 0;
  list-style: none;
  width: 100%;
}

.task {
  background-color: #f1f1f1;
  border-radius: 5px;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 1rem 3rem;
}

.check-button,
.delete-button {
  background-color: #F6F1D1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 2px;
  border: 1px solid;
  cursor: pointer;
  font-family: 'Victor Mono', monospace;
  transition: 100ms;
}

.check-button {
  margin: 0 10px 0 50px;
}

.check-button:hover {
  background-color: #1cca1c;
}

.delete-button:hover {
  background-color: #ca3f1c;
}

.task.done .check-button {
  background-color: #46494C;
}

.content {
  margin: 0;
}

.task.done .content {
  text-decoration: line-through;
}

@media (max-width: 520px) {
  .todo-list {
    min-width: 50px;
  }

  .task {
    flex-direction: column;
    align-items: center;
  }

  .check-button {
    margin: 10px 0;
  }

  .content {
    text-align: center;
  }
}